[package]
name = "plrust"
version = "0.0.0"
authors = ["ZomboDB, LLC <zombodb@gmail.com>"]
edition = "2018"
license = "PostgreSQL Open Source License"
description = "A Rust procedural language for PostgreSQL"
homepage = "https://github.com/zombodb/plrust/"
repository = "https://github.com/zombodb/plrust/"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["pg12"]
pg10 = ["pgx/pg10", "pgx-tests/pg10"]
pg11 = ["pgx/pg11", "pgx-tests/pg11"]
pg12 = ["pgx/pg12", "pgx-tests/pg12"]
pg13 = ["pgx/pg13", "pgx-tests/pg13"]
pg14 = ["pgx/pg14", "pgx-tests/pg14"]
pg_test = []
# Be accomodating to sandboxed builds with no network.
sandboxed = []

[dependencies]
pgx = "0.2.6"
pgx-macros = "0.2.6"
libloading = "0.7.2"

[dev-dependencies]
pgx-tests = "0.2.6"
pgx-utils = "0.2.6"
pgx-pg-sys = "0.2.6"
tempdir = "0.3.7"
once_cell = "1.7.2"
toml = "0.5.8"

[profile.dev]
panic = "unwind"

[profile.release]
panic = "unwind"
opt-level = 3
lto = "fat"
codegen-units = 1
